[user]
	name = eric hsieh
	email = psychesnet@gmail.com
[color]
	ui = auto
[core]
	editor = vi
	excludesfile = ~/.gitignore
    fileMode = false
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	df = diff --cached
	info = config --list
	ut = ls-files --others --exclude-standard
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
 [receive]
    denyCurrentBranch = ignore
